<nav class="bg-white border-teal-200 py-2.5 dark:bg-teal-900">
  <div
    class="flex flex-wrap items-center justify-between max-w-screen-xl px-4 mx-auto"
  >
    <!-- Logo -->
    <a href="#" class="flex items-center">
      <span
        class="self-center text-xl font-semibold whitespace-nowrap dark:text-white font-serif"
        >ES</span
      >
    </a>

    <!-- Right section -->
    <div class="flex items-center lg:order-2">
      <a
        href="http://localhost:4200/button"
        class="text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:ring-purple-300 font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 dark:bg-purple-600 dark:hover:bg-purple-700 focus:outline-none dark:focus:ring-purple-800"
      >
        Button
      </a>

      <!-- Mobile Menu Button -->
      <button
        id="menu-btn"
        class="inline-flex items-center p-2 ml-3 text-sm text-teal-500 rounded-lg lg:hidden hover:bg-teal-100 focus:outline-none focus:ring-2 focus:ring-teal-200 dark:text-teal-400 dark:hover:bg-teal-700 dark:focus:ring-teal-600"
      >
        <span class="sr-only">Open main menu</span>
        <svg class="w-6 h-6 menu-icon" fill="currentColor" viewBox="0 0 20 20">
          <path
            fill-rule="evenodd"
            d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
            clip-rule="evenodd"
          ></path>
        </svg>
      </button>
    </div>

    <!-- Navigation Links -->
    <div id="menu" class="hidden w-full lg:flex lg:w-auto lg:order-1">
      <ul
        class="flex flex-col mt-4 font-medium lg:flex-row lg:space-x-8 lg:mt-0"
      >
        <li><a href="#" class="nav-link">Home</a></li>
        <li>
          <a href="http://localhost:4200/about" class="nav-link">About Us</a>
        </li>
        <li><a href="#" class="nav-link">Marketplace</a></li>
        <li><a href="#" class="nav-link">Features</a></li>
        <li><a href="#" class="nav-link">Team</a></li>
        <li><a href="#" class="nav-link">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet />
