<div class="flex justify-between gap-2 m-5">
  <a
    href="#"
    class="inline-flex items-center border border-teal-300 px-3 py-1.5 rounded-md text-teal-500 hover:bg-teal-50 transition-transform transform hover:scale-105 active:scale-95"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
      class="h-6 w-6"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M7 16l-4-4m0 0l4-4m-4 4h18"
      ></path>
    </svg>
    <span class="ml-1 font-bold text-lg">Back</span>
  </a>
</div>

<div class="card p-6">
  <p-table
    [value]="townships"
    [paginator]="true"
    [rows]="5"
    [tableStyle]="{ 'min-width': '50rem' }"
    [rowsPerPageOptions]="[5, 10, 20]"
  >
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 25%">Township Name</th>
        <th style="width: 25%">townshipNameMm</th>
        <th style="width: 25%">State Name</th>
        <th style="width: 25%">stateNameMm</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-item>
      <tr>
        <td>{{ item.townshipName }}</td>
        <td>{{ item.townshipNameMm }}</td>
        <td>{{ item.stateName }}</td>
        <td>{{ item.stateNameMm }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>

<div class="flex flex-col h-screen w-screen">
  <div class="overflow-x-auto flex-1">
    <div class="py-4 px-6">
      <div
        class="overflow-hidden border border-teal-300 rounded-lg shadow-lg bg-white"
      >
        <table class="w-full border-collapse">
          <thead class="bg-teal-100 border-b">
            <tr>
              <th class="text-sm font-medium text-teal-900 px-6 py-4 text-left">
                ID
              </th>
              <th class="text-sm font-medium text-teal-900 px-6 py-4 text-left">
                Township Name
              </th>
              <th class="text-sm font-medium text-teal-900 px-6 py-4 text-left">
                townshipNameMm
              </th>
              <th class="text-sm font-medium text-teal-900 px-6 py-4 text-left">
                State Name
              </th>
              <th class="text-sm font-medium text-teal-900 px-6 py-4 text-left">
                stateNameMm
              </th>
            </tr>
          </thead>
          <tbody>
            <tr class="border-b" *ngFor="let item of townships">
              <td
                class="px-6 py-4 whitespace-nowrap text-sm font-medium text-teal-900"
              >
                {{ item.townshipId }}
              </td>
              <td
                class="text-sm text-teal-900 font-light px-6 py-4 whitespace-nowrap"
              >
                {{ item.townshipName }}
              </td>
              <td
                class="text-sm text-teal-900 font-light px-6 py-4 whitespace-nowrap"
              >
                {{ item.townshipNameMm }}
              </td>
              <td
                class="text-sm text-teal-900 font-light px-6 py-4 whitespace-nowrap"
              >
                {{ item.stateName }}
              </td>
              <td
                class="text-sm text-teal-900 font-light px-6 py-4 whitespace-nowrap"
              >
                {{ item.stateNameMm }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
