* {
  font-family: monospace;
}

.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: 1px solid #fff8a7;

  &:hover {
    transform: translateY(-5px); // Slight lift effect
    box-shadow: 0 6px 12px rgba(0, 247, 255, 0.15);
  }
}
